html, body {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}
/* Wildfire Commander Header2  */
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #992222;
  height: 180px;
}
.headingText {
  color: white;
  font-family: Merriweather;
  font-size: 90px;
  align-self: center;
}

@media only screen and (max-width: 700px) {
  .header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #992222;
  height: 80px;
  }
}
@media only screen and (max-width: 980px) {
  .headingText {
    font-size: 32px;
  }
}

/* ChooseFire DropDown  */


/* WeatherCard */
.App {
  text-align: center;
}

.row {
  justify-content: center;
  margin: 15px 0;
}