html, body {
  margin: 0;
  padding: 0;
  font-family:Arial, Helvetica, sans-serif;
}

.Navbar {
  display: flex;
  background-color: #000;
  width: 100%;
  height: 80px;
  font-family: Oswald;

}
.Navbar .leftSide {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.Navbar .rightSide {
  flex: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.Navbar .rightSide .links {
  max-height: 80px;
}

 a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-left: 15px;

}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #992222;
  height: 180px;
}
.headingText {
  color: white;
  font-family: Merriweather;
  font-size: 90px;
  align-self: center;
}

@media only screen and (max-width: 700px) {
  .header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #992222;
  height: 80px;
  }
}
@media only screen and (max-width: 980px) {
  .headingText {
    font-size: 32px;
  }
}